<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Interactive Visualisation Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet" />
</head>

<body>
    <header>
        <h1 class="title">Interactive Visualisation Application</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/sources">Sources</a></li>
                <li><a href="/example">Example</a></li>
                <li><a href="/newsample">New sample</a></li>
                <li><a href="/upload">Upload</a></li>
            </ul>
        </nav>
    </header>
        <section class="home-back">
            <h1>Explore Your Data Set</h1>
        </section>
        <div>{{ cdn_js|indent(4)|safe }} {{ cdn_css|indent(4)|safe }} {{ script1|indent(4)|safe }} {{div1 | safe}}</div>

        <footer>
        <div>
            <p class="foot-par">
               <strong>GO TO</strong> 
            </p>
        </div>
            <div>
                <ul class="foot-list">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/sources">SOURCES</a></li>
                    <li><a href="/newsample">Top</a></li>
                </ul>
            </div>
        </footer>
    </header>

</body>

</html>