<!doctype html>
<head>

<title>Upload New File</title>
<title>Interactive Visualisation Application</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet" />

</head>

<body class="upload">

    <header>
        <h1 class="title">Interactive Visualisation Application</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/sources">Sources</a></li>
                <li><a href="/example">Example</a></li>
                <li><a href="/newsample">New sample</a></li>
                <li><a href="/upload">Upload</a></li>
            </ul>
        </nav>
    </header>

    <section class="home-back">
        
        <h1>Upload New File</h1>

        <section >

            <form method=post enctype=multipart/form-data>

                <label class="custom-file-upload">
                    <input type=file name=file>
                    <h3>CHOOSE FILE</h3>                  
                </label>

                <label class="custom-file-upload">                
                    <input type=submit value=Upload>
                    <h3>UPLOAD</h3>

                </label>

            </form>

        </section> 

    </section>

    <div class="container">
        
        <section class="upload-about">
            <div class="upload-about-box">
                <h1>How To Use</h1>
                    <ul class="how-to">
                        
                        <li><strong>Step 1</strong>: Click on the <strong>CHOOSE FILE</strong> botton.</li>
                        <li><strong>Step 2</strong>: Select a <strong>csv</strong> file.
                        <li><strong>Step 3</strong>: Click on the <strong>UPLOAD</strong> button.</li>
                        <li><strong>Step 4</strong>: You will be redirected to the <strong>NEW SAMPLE</strong> page where you can explore your data set.</li>
                   
                    </ul>
            </div>
        </section>
    </div>

    <section class="visualisations">

        <h1>Step 1</h1>
        <figure class="vis-img">
            <img src="/static/images/step1.png" alt="s1" />
        </figure>

        <h1>Step 2</h1>
        <figure>
            <img src="/static/images/step2.png" alt="s2" />
        </figure>

        <h1>Step 3</h1>

        <figure>
            <img src="/static/images/step3.png" alt="s3" />
        </figure>

        <h1>Step 4</h1>

        <figure>
            <img src="/static/images/step4.png" alt="s4" />
        </figure>

    </section>
  
    <footer>
        <div>
            <p class="foot-par">
               <strong>GO TO</strong> 
            </p>
        </div>

        <div>
            <ul class="foot-list">
                
                <li><a href="/">HOME</a></li>
                <li><a href="/sources">SOURCES</a></li>
                <li><a href="/upload">TOP</a></li>

            </ul>
        </div>

    </footer>

</body>
